<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3>How to retrieve your credentials</h3>
    </div>
    <div class="content">
        <ol>
            <li>Go to <a target="_blanck" href="https://vk.com/">https://vk.com/</a> and create a new app.</li>
            <li>Set Name to your site name, add a description.</li>
            <li>Set <b>Website</b> to <span style="color:green"><?= URL::to('') ?></span> and <b>Callback URL</b> to <span style="color:green"><?= URL::route('flynsarmy_sociallogin_provider', ['Vkontakte']) ?></span></li>
            <li>Click <b>Create your Twitter Application</b>.</li>
            <li>Copy your <b>API Key</b> and <b>API Secret</b> from the <b>API Keys</b> tab and paste them below.</li>
        </ol>
    </div>
</div>