{% set post = __SELF__.post %}


<div class="news-page">
    <div class="blog-post"><img  src="{{ post.featured_images[0].path }}" alt=""></div>
    <h1> {{ post['title'] }} </h1>
    <p class="article-teaser"> {{ post['excerpt'] }}</p>

    <p> {{ post.content|raw }} </p>
</div>
