@font-face{font-family:OpenSans;src:url(OpenSans.eot?#iefix) format('embedded-opentype'),url(OpenSans.woff) format('woff'),url(OpenSans.ttf) format('truetype'),url(OpenSans.svg#OpenSans) format('svg');font-weight:400;font-style:normal}@font-face{font-family:OpenSans-Bold;src:url(OpenSans-Bold.eot?#iefix) format('embedded-opentype'),url(OpenSans-Bold.woff) format('woff'),url(OpenSans-Bold.ttf) format('truetype'),url(OpenSans-Bold.svg#OpenSans-Bold) format('svg');font-weight:400;font-style:normal}@font-face{font-family:OpenSans-Italic;src:url(OpenSans-Italic.eot?#iefix) format('embedded-opentype'),url(OpenSans-Italic.woff) format('woff'),url(OpenSans-Italic.ttf) format('truetype'),url(OpenSans-Italic.svg#OpenSans-Italic) format('svg');font-weight:400;font-style:normal}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
body{
	background: url(../img/bg-2.jpg) top center no-repeat #f8f8f8;
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #000;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.modal-content {
	position: relative;
	background-color: #fff;
	margin: 15% auto;
	padding: 50px;
	width: 580px;
}
.modal-content:after{
	content: "";
	display: table;
	clear: both;
}
.close {
	position: absolute;
	right: -54px;
	top: -64px;
	color: #fff;
	font-size: 35px;
}
.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}
div.modal-content h2{
	margin: 0 0 30px 0;
	padding-bottom: 10px;
	font-size: 42px;
	color: #4f5b60;
	border-bottom: 1px solid #c4ced3;
}
form.modal-form input{
	display: block;
	width: 96%;
	margin-bottom: 30px;
	padding: 2%;
	border: 1px solid #d9e1e3;
}
form.modal-form label{
	font-family: 'OpenSans-Bold';
	font-size: 14px;
}
form.modal-form button{
	margin-top: 20px;
	padding: 15px 60px;
}
.modal-content a{
	position: absolute;
	bottom: 60px;
	left: 53px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #4f5b60;
}
h3{
	margin: 45px 0;
	font-weight: normal;
	font-size: 18px;
}
h4{
	font-family: 'OpenSans-Bold', sans-serif;
	font-size: 14px;
}
div.wrapper{
	width: 1335px;
	margin: auto;
}
a.logo{
	display: block;
	padding: 20px 0;
}
img.banner{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
section{
	padding: 0 270px 45px 270px;
	background: #fff;
	border-top: 11px solid #f47d20;
	border-bottom: 1px solid #e7e7e7;
}
section.subscribe{
	padding: 50px 270px;
	border: none;
}
input{
	margin-right: -4px;
	width: 75%;
	padding: 10px 0 11px 20px;
	background: #e1e1e1;
	border: 1px solid #b4b4b4;
	color: #959595;
}
button{
	display: inline-block;
	margin-bottom: 50px;
	padding: 11px 25px;
	background: #FF7300;
	font-family: 'OpenSans-Bold';
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.3;
	color: #fff;
	cursor: pointer;
	border: 1px solid #f58c3a;
	-webkit-transition: .25s linear;
	-moz-transition: .25s linear;
	-o-transition: .25s linear;
	transition: .25s linear;
}
button:hover{
	background-color: #cc5c00;
}
p.copyright{
	font-family: Verdana, 'OpenSans', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #0e0e0e;
}