@font-face{font-family:OpenSans;src:url(OpenSans.eot?#iefix) format('embedded-opentype'),url(OpenSans.woff) format('woff'),url(OpenSans.ttf) format('truetype'),url(OpenSans.svg#OpenSans) format('svg');font-weight:400;font-style:normal}@font-face{font-family:OpenSans-Bold;src:url(OpenSans-Bold.eot?#iefix) format('embedded-opentype'),url(OpenSans-Bold.woff) format('woff'),url(OpenSans-Bold.ttf) format('truetype'),url(OpenSans-Bold.svg#OpenSans-Bold) format('svg');font-weight:400;font-style:normal}@font-face{font-family:OpenSans-Italic;src:url(OpenSans-Italic.eot?#iefix) format('embedded-opentype'),url(OpenSans-Italic.woff) format('woff'),url(OpenSans-Italic.ttf) format('truetype'),url(OpenSans-Italic.svg#OpenSans-Italic) format('svg');font-weight:400;font-style:normal}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */progress,sub,sup{vertical-align:baseline}button,hr,input{overflow:visible}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-x: hidden;}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/*****************************************MAIN********************************/
body{
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
	color: #4f5b60;
}

.btn-dropdown {
    background-color: #ffffff;
    border: 1px solid #dae0e3;
    width: 100%;
    text-align: left;
    color: #c4ced3;
    padding: 15px;
    line-height: 16px;
}
/*****************************************SPRITE********************************/
a.logo,
a.about-logo,
div.social-block a,
a.copyright-img,
button.accordion:before,
input[name="search"],
div.previous-month a::before,
div.next-month a::after,
div.feed-item-description span.count:before{
	background: url(../img/sprite.png) no-repeat;
}
/*****************************************HEADER********************************/
header{
	position: fixed;
	width: 100%;
	z-index: 100;
	background: rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 2px 8px 0 rgba(79,91,96,0.25);
	-moz-box-shadow: 0 2px 8px 0 rgba(79,91,96,0.25);
	box-shadow: 0 2px 8px 0 rgba(79,91,96,0.25);
}
header.scroll-header nav a{
	padding: 10px 12px 10px 10px;
}
header.scroll-header button.sign-in{
	padding: 10px 20px 13px 20px;
}
header.scroll-header a.logo{
	margin-top: 3px;
}
a.logo{
	display: block;
	margin-top: 14px;
	float: left;
	width: 209px;
	height: 37px;
	background-position: 0 0;
	text-indent: -9999px;
}
nav{
	float: right;
}
nav a{
	display: inline-block;
	padding: 25px 12px 21px 10px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #202c30;
	border-bottom: 4px solid transparent;
}
nav a:hover,
nav a.current{
	color: #4f5b60;
	border-bottom: 4px solid #4f5b60;
}
button.sign-in{
	float: right;
	border: none;
	padding: 24px 20px 24px 20px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: #ff7300;
	cursor: pointer;
	-webkit-transition: .25s linear;
	-moz-transition: .25s linear;
	-o-transition: .25s linear;
	transition: .25s linear;
}
.profile-menu .new-messages:hover{
	line-height: 26px;
	border-radius: 26px;
	width: 26px;
	height: 26px;
	font-size: 16px;
}
.profile-menu .new-messages{
	background-color: #ff0000;
	position: absolute;
	color: #ffffff;
	display: block;
	right: 0;
	font-size: 12px;
	line-height: 20px;
	border-radius: 20px;
	text-align: center;
	width: 20px;
	height: 20px;
	bottom: 0;
	z-index: 10;
}
.profile-menu ul a:hover,.profile-menu ul button:hover{
 background-color: #f1f1f1
}
.profile-menu ul a,.profile-menu ul button,.profile-menu ul li span{
	color: black;
	padding: 6px 16px;
	text-decoration: none;
	display: block;
	border: none;
	background: none;
	text-align: center;
	font-size:13px;
	transition: all .2s;
}
.profile-menu ul .cabinet{
	background: #efeded;
	color: #000;
	margin:5px 0;
}
.profile-menu ul .cabinet:hover{
	background: #c0bebe;
}
.profile-menu ul .log_out{
	background: #f47e1f;
	color: #fff;
}
.profile-menu ul .log_out:hover{
	background: #d56b1f;
}
.profile-menu ul li{
	list-style: none;
}
.profile-menu ul{
	display: none;
	position: absolute;
	top:99%;
	left: 0;
	margin: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 2px 8px 0 rgba(79,91,96,0.25);
	padding: 15px 12px 20px;
}
.profile-menu ul p{
	margin:0;
	font-size:13px;
	color: #999;
}
.profile-menu ul li span{
	font-size: 17px;
	color: #000;
}
.profile-menu:hover ul,.profile-menu ul:hover {
	display: block;
}
.profile-menu{
	float: right;
	position: relative;
	height: 40px;
}
img.profile-image{
	border: none;
	margin: 2px 5px 0 10px;
	width: 35px;
	height: 35px;
}
.round {
    border-radius: 100px;
}
/*****************************************HEADER STUDENT********************************/
header.login-area{
	position: relative;
}
header.login-area-main{
	position: fixed;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
	background-color:#fff;
}
header.login-area nav a{
	padding: 10px 12px 10px 10px;
	font-family: 'OpenSans';
	font-size: 12px;
	text-transform: none;
	color: #202c30;
}
header.login-area button.sign-in{
	padding: 10px 20px 14px 20px;
	font-family: 'OpenSans';
	font-size: 12px;
	text-transform: none;
	color: #202c30;
	background: #dae0e3;
}

header.login-area a.logo{
	margin-top: 1px;
	transform: scale(.8);
}

header.login-area-main nav a{
	padding: 10px 12px 10px 10px;
	font-family: 'OpenSans';
	font-size: 12px;
	text-transform: none;
	color: #202c30;
}

header.login-area-main button.sign-in{
	padding: 10px 20px 14px 20px;
	font-family: 'OpenSans';
	font-size: 12px;
	text-transform: none;
	color: #202c30;
	background: #dae0e3;
}

header.login-area-main a.logo{
	margin-top: 1px;
}

header.hide-nav{
	display: none;
}
#login-area-nav{
	width: 100%;
	background: #4c4c4c;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(79,91,96,0.25);
	-moz-box-shadow: 0px 2px 8px 0px rgba(79,91,96,0.25);
	box-shadow: 0px 2px 8px 0px rgba(79,91,96,0.25);
}
#login-area-nav.login-fixed-nav{
	position: fixed;
	top: 0;
	z-index: 1000;
}
div.login-area-nav-inner:after,
div.login-footer-inner:after{
	content: "";
	display: table;
	clear: both;
}
#login-area-nav h1{
	float: left;
	margin: 0;
	font-size: 21px;
	line-height: 2.2;
	color: #fff;
}
ul.login-navigation{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.login-navigation li{
	position: relative;
	display: inline-block;
}
ul.login-navigation a{
	display: inline-block;
	margin: 0 5px;
	padding: 14px 8px 13px 8px;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
    border-bottom: 4px solid #4c4c4c
}
ul.login-navigation a:hover,
ul.login-navigation a.current{
	border-bottom: 4px solid #c4ced3;
}
ul.login-navigation li span{
	position: absolute;
	top: 4px;
	right: -4px;
	display: inline-block;
	padding: 2px 4px;
	font-family: 'OpenSans-Bold';
	font-size: 10px;
	background: #ef4141;
	color: #fff;
	border-radius: 3px;
}
/*****************************************INNERS********************************/
div.header-inner,
div.section-inner,
div.login-area-nav-inner,
main,
div.login-footer-inner{
	width: 1180px;
	margin: auto;
}
div.header-inner{
	height: 41px;
}
/*****************************************MAIN********************************/
.week-wrapper{
	position: relative;
	width: auto;
	padding: 0 50px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
main h2{
	margin: 40px 0;
	font-size: 21px;
	color: #4f5b60;
}
main{
	margin-bottom:10px;
}
/***********************************************SIDEBAR*********************************/
aside{
	width: 227px;
	margin-top: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}
.aside-nav{
	position: relative;
}
article.study_wrap{
	width: 853px;
}
article.study_wrap .tabcontent-block main{
	width:100%;
}
aside h3{
	margin: 3px 0 40px 0;
	padding-bottom: 7px;
	font-size: 14px;
	color: #4f5b60;
	border-bottom: 1px solid #c4ced3;
}
button.accordion{
	display: block;
	margin-bottom: 8px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	color: #4f5b60;
}
button.accordion:hover{
	text-decoration: underline;
}
button.accordion:before{
	content: '';
	position: relative;
	top: 4px;
	display: inline-block;
	margin-right: 10px;
	width: 16px;
	height: 16px;
}
button.accordion:before{
	background-position: 0 -251px;
}
button.accordion.coming-soon:before,
button.accordion.coming-soon.active:before{
	background-position: -32px -251px;
}
button.accordion.active:before{
	background-position: -16px -251px;
}
button.accordion:after{
	display: block;
	position: absolute;
	left: 12px;
	content: '';
	height: 14px;
	border-left: 2px solid #4f5b60;
}
button.accordion.coming-soon:after{
	border-left: 2px solid #c4ced3;
}
div.panel{
	display: none;
	margin-left: 12px;
	margin-top: -3px;
	margin-bottom: -5px;
	padding: 25px 0 25px 25px;
	border-left: 2px solid #4f5b60;
	-webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
}
div.panel a{
	display: table;
	padding: 4px 5px;
	font-size: 12px;
	text-decoration: none;
	color: #4f5b60;
	overflow: hidden;
}
div.panel a:hover,
div.panel a.current{
	background: #4f5b60;
	color: #fff;
}
div.panel.show {
	display: block;
}
button.coming-soon{
	color: #c4ced3;
}
button.coming-soon:hover{
	text-decoration: none;
	cursor: default;
}
button.accordion.coming-soon:last-of-type::after{
	border-left: none;
}
/***********************************************TABS*********************************/
ul.tab{
	width: 100%;
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #c4ced3;
}
ul.tab li{
	float: left;
	width: 25%;
}
ul.tab.cabinet-tab li{
	width: 33.3%;
}
ul.tab li a{
	display: inline-block;
	width: 100%;
	padding: 0 0 13px 0;
	text-align: center;
	text-decoration: none;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #4f5b60;
}
ul.tab li a:focus, ul.tab li a:hover, .active{
	border-bottom: 4px solid #4f5b60;
}
div.tabcontent:first-child{
	display: block;
}
div.tabcontent{
	display: none;
	margin-bottom: 120px;
	-webkit-animation: fadeEffect .5s;
	animation: fadeEffect .5s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
div.tabcontent img{
	display: inline-block;
	max-width: 100%;
}
div.work-download-block{
	margin-top: 50px;
	padding: 20px 30px;
	background: #f5f6f8;
}
div.work-download-block h4,
div.comments-block h4,
h4.chapter-header{
	padding-bottom: 15px;
	font-family: 'OpenSans-Bold';
	font-size: 21px;
	color: #4f5b60;
	border-bottom: 1px solid #c4ced3;
}
div.work-download-block p{
	margin: 0 0 40px 0;
	padding: 0;
	font-size: 14px;
}
div.work-download-block button{
	margin: 40px auto 10px auto;
}
div.comments-block{
	padding: 60px 0 0 0;
}
a.avatar{
	display: inline-block;
	vertical-align: top;
	width: 7%;
}
.avatar img{
	width: 50px;
}
div.comment-entry{
	display: inline-block;
	vertical-align: top;
	width: 92%;
	padding: 10px 0 20px 0;
	margin-bottom: 30px;
	border-bottom: 1px solid #c4ced3;
}
a.avatar-name{
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-decoration: none;
	color: #4f5b60;
}
a.avatar-name:hover{
	text-decoration: underline;
}
div.comment-entry span{
	display: block;
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	color: #7f888c;
}
div.comment-entry p{
	font-size: 12px;
}
div.comment-entry.add-comment{
	border: none;
}
div.comment-entry.add-comment textarea{
	margin-top: 40px;
}
section.promo-on-main{
	height: 100%;
	padding-bottom: 100px;
	background: url(../img/banner.jpg) top center no-repeat;
	color: #fff;
	position: relative;
}
div.members-list{
	width: 100%;
	margin-top: 40px;
}
div.members-list a{
	display: inline-block;
	vertical-align: top;
	width: 180px;
	margin: 0 50px 40px 0;
	text-decoration: none;
	color: #4f5b60;
}
div.members-list img,
div.cabinet-photo img{
	display: block;
	max-width: 100%;
	-webkit-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
	-webkit-transition: .15s linear;
	-moz-transition: .15s linear;
	-o-transition: .15s linear;
	transition: .15s linear;
}
div.members-list a:hover img{
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
div.members-list h5{
	margin: 20px 0 0 0;
	text-align: center;
}
div.cabinet-content{
	width: 580px;
	margin: auto;
	padding: 20px 0;
}
div.cabinet-photo{
	margin-bottom: 40px;
}
div.cabinet-photo img,
div.cabinet-name{
	display: inline-block;
	vertical-align: middle;
}
div.cabinet-name{
	padding-left: 20px;
}
div.cabinet-name h2{
	margin: 0 0 10px 0;
}
div.cabinet-name span{
	display: block;
	font-size: 15px;
}
div.cabinet-content h2{
	margin-bottom:0;
}
div.cabinet-content p{
	font-size: 15px;
}
div.cabinet-content div.comments-block{
	padding: 20px 0 0 0;
}
/******************************************************CALENDAR**********************************/
div.calendar{
	margin-bottom: 150px;
}
div.months{
	padding-bottom: 23px;
	border-bottom: 1px solid #c4ced3;
}
div.previous-month,
div.curren-month,
div.next-month{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
div.months a{
	text-decoration: none;
	color: #4f5b60;
}
div.previous-month{
	text-align: left;
}
div.previous-month a::before{
	content: '';
	position: relative;
	top: 3px;
	display: inline-block;
	width: 10px;
	height: 16px;
	margin-right: 23px;
	background-position: 0 -301px;
}
div.curren-month{
	text-align: center;
}
div.next-month{
	text-align: right;
}
div.next-month a::after{
	content: '';
	position: relative;
	top: 3px;
	display: inline-block;
	width: 10px;
	height: 16px;
	margin-left: 23px;
	background-position: -10px -301px;
}
table.events{
	width: 100%;
	border-spacing: 10px;
}
table.events th{
	padding: 20px 0;
	font-weight: 400;
	font-size: 12px;
}
table.events td{
	width: 162px;
	height: 89px;
	padding: 11px 0 0 13px;
	vertical-align: top;
	background: #f5f6f8;
}
table.events td a{
	display: block;
	padding: 10px 0;
	font-size: 10px;
	text-decoration: none;
	color: #4f5b60;
}
table.events td.next-month-cell{
	background: #fff;
	color: #c4ced3;
}
table.events td.next-month-cell a{
	color: #c4ced3;
}
/******************************************************CABINET-CHAT**********************************/
div.cabinet-message{
	overflow: hidden;
}
div.chat-feed{
	float: left;
	width: 380px;
	height:600px;
}
div.chat-message-feed{
	float: right;
	width: 780px;
	border-left: 1px solid #c4ced3;
	border-right: 1px solid #c4ced3;
}
div.feed-box{
	padding-right: 30px;
}
div.feed-box a{
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
	color: #4f5b60;
}
div.feed-box a:hover,div.feed-box a.open-dialog{
	color: #ff7300;
}
div.feed-box a.open-dialog{
	background-color: #d5e8f1;
}
div.feed-box a img,
div.feed-box a h5{
	display: inline-block;
	vertical-align: top;
}
div.feed-box a img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
}

div.feed-box a h6{
	font-size: 14px;
	line-height: 2.1;
}
.comment-entry{
	word-break: break-all
}
div.chat p{
	word-break: break-all
}
div.chat{
	margin-right: 15px;
	padding: 0 15px;
	height: 536px;
	overflow-y: scroll;
	max-width: 100%;
}

.feed-box .has-new{
	background-color: #f5f6f8;
}
div.chat-message-incoming,
div.chat-message-coming{
	width: 60%;
	margin:0 15px 30px 15px;
	font-size: 12px;
	clear: both;

}
div.chat-message-incoming{
	float: left;
}
div.chat-message-coming{
	float: right;
}
div.chat-message-incoming p{
	margin: 0;
	padding: 20px;
	background: #d5e8f1;
	border-radius: 5px;
}
div.chat-message-coming p{
	margin: 0;
	padding: 20px;
	background: #def8e3;
	border-radius: 5px;
}
div.chat-message-incoming span,
div.chat-message-coming span{
	display: block;
	font-family: 'OpenSans-Italic', sans-serif;
	text-align: right;
}
.add-message-block{
	overflow: hidden;
}
.add-message-block,
.add-message-block textarea{

}
.add-message-block form{
	margin-bottom: 0;
}
.add-message-block button{
	float: right;
	background: none;
	width: 8.8%;
	padding: 0.2%;
	border: none;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	margin: 7px 0;
}
.add-message-block button img{
	display: inline;
	max-width: 100%;
	max-height: 100%;
	line-height: 44px;
}
.add-message-block .chat-message-area{
	width: 90%;
	min-height: 40px;
	max-height: 70px;
	float: left;
	margin: 7px 0 7px 1%;
	border-radius: 5px;
	border: 2px solid #e6e6e6;
	padding-left: 15px;
	outline: none;
}
/******************************************************SECTIONS**********************************/
section.promo-on-main h1{
	width: 600px;
	margin: auto;
	font-size: 42px;
}
section.promo-on-main p{
	width: 980px;
	margin: 30px auto 23vh;
	text-align: center;
}
section.promo-on-main div.section-inner{
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
a.button,
button.submit{
	display: inline-block;
	padding: 16px 25px;
	background: #FF7300;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	-webkit-transition: .25s linear;
	-moz-transition: .25s linear;
	-o-transition: .25s linear;
	transition: .25s linear;
}
a.button:hover,
button.sign-in:hover,
button.submit:hover{
	background-color: #cc5c00;
}
section.courses-on-main,
section.feedback-on-main{
	padding: 60px 0;
}
section.courses-on-main h2,
section.feedback-on-main h2{
	margin: 0 0 70px 0;
	padding-bottom: 30px;
	font-size: 42px;
	color: #4f5b60;
	border-bottom: 1px solid #c4ced3;
}
a.courses-item{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 60px 15px;
	width: 360px;
	text-decoration: none;
	color: #4f5b60;
}
a.courses-item:hover,
a.courses-item:hover p{
	color: #202c30;
}
a.courses-item img,
div.feed-list-item a img,
div.news-page img{
	-webkit-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
    box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.30);
    -webkit-transition: .15s linear;
    -moz-transition: .15s linear;
    -o-transition: .15s linear;
    transition: .15s linear;
}

.blog-post  img {
	width: 100%;
}

a.courses-item:hover img,
div.feed-list-item a:hover img{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a.courses-item:active img,
a.courses-item:active h3,
a.courses-item:active p,
a.courses-item:active span{
	position: relative;
	top: 10px;
}
a.courses-item p{
	font-size: 14px;
	color: #7f888c;
	-webkit-transition: .15s linear;
	-moz-transition: .15s linear;
	-o-transition: .15s linear;
	transition: .15s linear;
}
section.feedback-on-main{
	background: #f5f6f8;
}
section.feedback-on-main div.section-inner{
	overflow: hidden;
}
div.about-school{
	float: left;
}
a.about-logo{
	display: block;
	height: 91px;
	background-position: 0 -60px;
	text-indent: -9999px;
}
section.feedback-on-main span{
	margin-right: 30px;
	font-family: 'OpenSans-Bold';
}
div.feedback-form{
	float: right;
}
div.feedback-form h4{
	margin-top: 50px;
}
h2.study-name{
	margin: 40px 0;
	font-size: 21px;
	color: #4f5b60;
}
div.stream-online span{
	display: inline-block;
	margin-top: 20px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
}
div.stream-online span.status{
	margin-top: 0;
	color: #ef4141;
}
h4.chapter-header{
	padding: 25px;
	font-size: 42px;
}
a.courses-item span{
	display: inline-block;
	padding-left: 10px;
	border-left: 2px solid #7f888c;
	font-family: 'OpenSans-Bold';
	line-height: 2.0;
	color: #7f888c;
}
div.feed-list:after{
	display: block;
	content: "";
	clear: both;
}
div.feed-list{
	margin-bottom: 80px;
}
div.feed-list-item{
	margin-top: 40px;
	overflow: hidden;
}
div.feed-list-item > a,
div.feed-list-item a img{
	display: inline-block;
	float: left;
	width: 380px;
	height: 220px;
}
div.feed-item-description{
	position: relative;
	float: left;
	width: 760px;
	height: 220px;
	margin-left: 40px;
}
div.feed-item-description>span,div.feed-item-description>a>span{
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	color: #7f888c;
}
div.feed-item-description h2{
	margin: 10px 0;
}
div.feed-item-description h2 a{
	display: block;
	text-decoration: none;
	color: #4f5b60;
}
div.feed-item-description h2 a:hover{
	text-decoration: underline;
}
div.feed-item-description p{
	margin: 0;
	color: #7f888c;
}
div.feed-item-description span.count{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	font-family: 'OpenSans';
	color: #4f5b60;
}
div.feed-item-description span.count:before{
	content: '';
	display: inline-block;
	position: relative;
	top: 3px;
	width: 16px;
	height: 14px;
	margin-right: 10px;
	background-position: 0 -318px;
}
div.feed-item-description span.count.empty{
	color: #c4ced3;
}
div.feed-item-description span.count.empty:before{
	background-position: -16px -318px;
}
div.news-page{
	width: 980px;
	margin: 40px auto;
}
div.news-page h1{
	font-size: 42px;
}

div.news-page div.comments-block{
	padding: 0 100px;
}
div.news-page p.article-teaser{
	padding: 0 0 40px 0;
	border-bottom: 1px solid #c4ced3;
	font-family: 'OpenSans-Bold';
}
div.news-page div.comments-block p{
	padding: 0;
}
div.news-page div.comments-block img{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
div.news-page a.avatar{
	width: 10%;
}
div.news-page div.comment-entry{
	width: 80%;
}

.news-page p img,.news-page p iframe, .fr-video iframe{
	margin: 0 auto;
	max-width: 100%;
	display: block;
}

form.add-comment-form button{
	float: right;
}
/*****************************************FEEDBACK ON MAIN********************************/
div.feedback-form input,
div.feedback-form textarea{
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	padding: 10px 5px;
	background: #f5f6f8;
	border: none;
	border-bottom: 2px solid #4f5b60;
}
div.feedback-form textarea{
	margin-bottom: 0;
	box-sizing: border-box;
    resize: none;
}
section.feedback-on-main form span{
	display: block;
	float: right;
	margin-right: 0;
	padding: 20px 0 40px 0;
	font-family: 'OpenSans-Italic';
	font-size: 12px;
}
button.submit{
	display: block;
	float: right;
	clear: both;
	border: none;
}
/*****************************************FOOTER********************************/
div.footer-inner-top{
	padding: 60px 0;
	background: #4f5b60;
}
div.footer-inner-top span{
	display: block;
	margin-bottom: 10px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	color: #fff;
}
div.footer-inner-top form{
	padding: 0;
	margin: 0;
	width: 100%;
	border: 1px solid #dae0e3;
}
div.footer-inner-top input{
	margin: 0;
	padding: 10px;
	width: 990px;
	border: none;
}
div.footer-inner-top button{
	width: 161px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: #4f5b60;
	border: none;
	cursor: pointer;
}
div.footer-inner-bottom{
	padding: 20px 0 40px 0;
	background: #202c30;
	overflow: hidden;
}
div.footer-inner-bottom .section-inner{
	overflow: hidden;
}
div.marketing-nav{
	float: left;
}
div.marketing-nav a,
div.social-block span{
	margin-right: 30px;
	font-size: 12px;
	color: #fff;
}
div.social-block{
	float: right;
}
div.social-block span{
	font-family: 'OpenSans-Bold';
}
div.social-block a{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 30px;
	text-indent: -9999px;
}
div.social-block a.fb{
	background-position: 0 -207px;
}
div.social-block a.fb:hover{
	background-position: -16px -207px;
}
div.social-block a.tw{
	background-position: 0 -223px;
}
div.social-block a.tw:hover{
	background-position: -16px -223px;
}
div.social-block a.vk{
	background-position: 0 -239px;
}
div.social-block a.vk:hover{
	background-position: -16px -239px;
}
div.copyright{
	width: 120px;
	margin: auto;
	padding: 90px 0 30px 0;
	clear: both;
	text-align: center;
}
div.copyright a{
	display: inline-block;
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
a.copyright-img{
	width: 60px;
	height: 56px;
	margin-bottom: 10px;
	background-position: 0 -151px;
	text-indent: -9999px;
}
footer.login-footer{
	width: 100%;
	padding: 20px 0;
	background: #dae0e3;
}
footer div.marketing-nav-login{
	margin-bottom: 30px;
}
footer div.marketing-nav-login a{
	margin-right: 30px;
	font-size: 12px;
	color: #7f888c;
}
div.login-social{
	float: left;
}
div.login-social span{
	color: #7f888c;
}
div.login-social a.fb{
	background-position: -32px -207px;
}
div.login-social a.tw{
	background-position: -32px -223px;
}
div.login-social a.vk{
	background-position: -32px -239px;
}
div.login-copyright{
	float: right;
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	color: #7f888c;
}
/***************************************MODAL************************************/
#openregmodal{
display: inline-block;
    padding: 16px 25px;
    background: #FF7300;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
	border: none;
}



.modal {
	display: none;
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.modal-content {
	position: relative;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	width: 580px;
}
.modal-content:after{
	content: "";
	display: table;
	clear: both;
}
.close {
	position: absolute;
	right: -54px;
	top: -64px;
	color: #fff;
	font-size: 35px;
}
.close:hover,
.close:focus {
	text-decoration: none;
	cursor: pointer;
}
div.modal-content h2{
	margin: 0 0 30px 0;
	padding-bottom: 10px;
	font-size: 42px;
	color: #4f5b60;
}
form.modal-form input{
	display: block;
	width: 96%;
	margin-bottom: 30px;
	padding: 2%;
	border: 1px solid #d9e1e3;
}
form.modal-form label{
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	line-height: 2.0;
}
form.modal-form button{
	margin-top: 20px;
	margin-right: 25px;
	padding: 15px 60px;
}
.modal-content a{
	position: relative;
	bottom: 60px;
	left: 53px;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #4f5b60;
}
/***************************************FORMS***************************************/
textarea{
	box-sizing: border-box;
	resize: none;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
	padding: 7px 5px;
	border: none;
	border-bottom: 1px solid #4f5b60;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}
::-webkit-input-placeholder {
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #c4ced3;
}
:-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #c4ced3;
}
::-moz-placeholder {  /* Firefox 19+ */
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #c4ced3;
}
:-ms-input-placeholder {
   font-size: 14px;
   letter-spacing: 0.04em;
   color: #c4ced3;
}
/*Search*/
input[name="search"]{
	position: relative;
	width: 97%;
	padding: 7px 0 6px 36px;
	border: 1px solid #dae0e3;
	background-position: 1px -268px;
}
input[name="search"].feedlist{
	width: 84%;
}
/***************************************FILE INPUT STYLE***************************************/
.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label[for="file-7"]{
	position: relative;
	font-family: 'OpenSans-Bold';
	font-size: 12px;
	line-height: 3.6;
	color: #4f5b60;
	cursor: pointer;
}
label[for="file-7"]::before{
	position: absolute;
	display: inline-block;
	top: -46px;
	right: 185px;
	content: '+';
	font-size: 30px;
	display: none;
}
span.upload-button{
	display: inline-block;
	width: 72%;
	margin-right: 4%;
	padding: 15px 0 15px 18px;
	overflow: hidden;
	vertical-align: top;
	background: #fff;
	border: 1px solid #dae0e3;
	font-family: 'OpenSans';
	font-size: 14px;
	line-height: 1.3;
	color: #c4ced3;
}
/***************************************BUTTONS***************************************/
button.btn-dark{
	display: block;
	padding: 14px 50px;
	background: #4f5b60;
	border: none;
	outline: none;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #dae0e3;
	cursor: pointer;
	-webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
button.btn-dark:hover{
	background: #3f494d;
}
button.btn-orange{
	display: block;
	padding: 14px 50px;
	background: #ff7300;
	border: none;
	outline: none;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	-webkit-transition: background 0.5s linear;
    transition: background 0.5s linear;
}
button.btn-orange:hover{
	background: #cc5c00;
}
/**************************************SCROLLBAR**************************************/
div.custom-scroll::-webkit-scrollbar-track{
	display: none;
}
div.custom-scroll::-webkit-scrollbar{
	width: 6px;
	background-color: transparent;
}
div.custom-scroll::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #a7adaf;
}
/**************************************CLEARFIX***************************************/
.modal-content:after,
form:after,
div.chat:after{
	content: "";
	display: table;
	clear: both;
}
.cabinet-photo form{
	float:left
}
.cabinet-photo::after {
	 display: block;
	 content: "";
	 clear: both;
 }

.cabinet-edit-btn {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	float: right;
}

.cabinet-edit-description {
	width: 85%;
	text-align: left;
	vertical-align: middle;
	line-height: 20px;
	padding: 20px 0px;

	word-break: break-all
}

.cabinet-edit-description-active {
	box-sizing: border-box;
	resize: none;
	padding-bottom: 10px;
	position: relative;
	display: block;
	overflow: hidden;
	border: none;
	border-bottom: 1px solid #4f5b60;
}
.courses_block{
	width: 960px;
	margin: 50px auto;
	background: #f4f7f8;
	padding: 20px;
	box-sizing: border-box;
}
.courses_block h2{
	font-size: 24px;
	color: #000;
	margin: 10px 0;
}
.courses_item_wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.courses_item{
	width: 385px;
	text-align: center;
	margin: 10px 35px;
}
.courses_item img{
	display: block;
	width: 100%;
}
.courses_item a{
	display: block;
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 20px 0 10px;
}
.courses_item p{
	color: #626262;
	font-size: 15px;
	margin-bottom:20px;
}

@media screen and (max-width: 1023px){
	.courses_block{
		width: 740px;
	}
	.courses_item {
		width: 290px;
		margin: 0px 30px;
	}
}
@media screen and (max-width: 767px){
	.courses_block{
		width: 100%;
	}
	.courses_item_wrap{
		justify-content: space-around;
	}
	.courses_item {
		width: 100%;
		max-width: 420px;
		margin: 0px 15px;
	}
}
/* Social buttons */
.social-buttons{
	text-align: center;
}
.social-buttons table a {
	padding-top: 6px !important;
	padding-bottom: 7px !important;
	vertical-align: bottom;
}
.chat-message-wait {
	opacity: 0.8;
}

.social-buttons table {
	display: inline-block;
	vertical-align: bottom;

}

.twitter-share-button {
	display: inline-block;
	vertical-align: bottom;
}

.open_subscribe {
	background: #FAD000;
	color: #000;
	width: 120px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 5px 0 4px;
	border-radius: 4px;
	border: 1px solid #EAC500;
	outline: none;
	vertical-align: top;
	position: relative;
	top: 2px;
	justify-content: space-around;
	display: inline-flex;
	cursor: pointer;
}

.open_subscribe.open {
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	padding-bottom: 10px;
}

.subscribe_block {
	display: none;
	border: 1px solid #EAC500;
	border-radius: 7px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.subscribe_block.open {
	display: block;
	background: #fff;
	z-index: 10;
	position: relative;
	max-width: 980px;
	margin: 0 auto;
}

.subscribe_block > iframe, #vk_subscribe {
	display: inline-block;
	height: 28px !important;
}

#vk_subscribe {
	width: 215px !important;
}

.fb-share-button {
	vertical-align: bottom;
}

@media screen and (max-width: 479px) {
	.subscribe_block.open {
		position: relative;
		top: -32px;
	}

	.vk-share {
		margin-top: 5px;
	}
}

.tw-share {
	height: 28px;
	padding: 1px 8px 3px 30px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-size: 12px;
	background: url(../img/twitter-logo-silhouette.svg) no-repeat 6px center #1b95e0;
	background-size: 20px;
}

.fb-share {
	height: 28px;
	padding: 1px 8px 3px 30px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-size: 12px;
	background: url(../img/facebook.svg) no-repeat 6px center #365899;
	background-size: 20px;
}

.vk-share {
	height: 28px;
	padding: 1px 8px 3px 30px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	background: url(../img/vk.svg) no-repeat 6px center #44678D;
	background-size: 20px;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	font-size: 12px;
}
.chat-message-feed {
	position: relative;
}
.chat-message-feed .comments-ajax-loader {

	position: absolute;
	left: calc(50% - 10px);
	top: calc(50% - 110px);
	text-align: center;
	display: none;
}
.comments-ajax-loader img{
	width: 20px;
}
a.upload-button{
	text-align: center
}
a.upload-button img{
	max-height: 100%;
}
.alert{
	display: none;
}
.open_list_icon svg{
	display: none;
}
button.accordion:last-of-type::after{
	display: none;
}
.stream-online{
	text-align: center;
}

.work-download-block .responsiv-uploader-fileupload.style-file-single .upload-object .icon-container:after{
	margin-top: 0;
}

.active-week{
	text-decoration: underline;
}