{% set posts = __SELF__.posts %}
<div class="feed-list">

    {% for post in posts %}
    <div class="feed-list-item">
        <a href="/feed/post/{{ post.slug }}"><img src="{{ post.featured_images[0].path }}" alt=""></a><!-- 380x220 -->
        <div class="feed-item-description">
            <span>{{ post.published_at|date('d F Y') }}</span>
            <h2><a href="/feed/post/{{ post.slug }}">{{ post.title }}</a></h2>
            <p> {{ str_limit(post.content, 400) }}</p>
            <a href="{{ post.comments_url }}">
                {% if post.comments_number != 0 %}
                <span class="count">{{ post.comments_number }} Комментариев</span>
                {% else %}
                 <span class="count empty">Нет комментариев</span>
                {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% if posts.total() > 3 %}
<div class="feed-ajax-loader">
    <img src="plugins/rainlab/blog/assets/images/feed-loader.gif"/>
</div>
{% endif %}

