<section class="courses_block">
    <h2>Курсы</h2>
    <div class="courses_item_wrap">
        {% for course in courses %}
        <div class="courses_item">

            <a href="{{course.page_url}}" >
                <img src="{% if course.course_image.getPath() %} {{ course.course_image.getPath()}} {% else %}  themes/untitled/assets/img/courses-item2.jpg {% endif %}">
            </a>
            <h3><a href="{{course.page_url}}" >{{ course.title}}</a></h3>
            <p>{{ str_limit(course.description,200)|raw }}</p>

        </div>
        {% endfor %}
    </div>
</section>

