
<div class="cabinet-message">
    <div class="chat-feed">
        <div class="feed-box custom-scroll">

            {% for dialog in dialogs %}
            <a href="/{{dialog.dialogUser.name}}" class="{% if dialog.hasNew %} has-new {% endif %} selected-dialog {% if first != true %} open-dialog {% set first = true %}{% endif %}" data-dialog-id ="{{  dialog.id }}">
                <img src="{{ dialog.dialogUser.getAvatarThumb(60) }}" alt="{{  dialog.dialogUser.name }} avatar">
                <h5>{{  dialog.dialogUser.name }}</h5>
            </a>

            {% endfor %}
        </div>
    </div>
    <div class="chat-message-feed">


        <button class="open_dialog">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="80.13px" height="80.13px" viewBox="0 0 80.13 80.13" style="enable-background:new 0 0 80.13 80.13;" xml:space="preserve"
	>
<g>
	<path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112
		c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984
		c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984
		z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263
		c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833
		C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088
		c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699
		C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276
		c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752
		C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032
		c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265
		c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
        </button>
        <div class="comments-ajax-loader" style="/* display: none; */">
            <img src="/plugins/rainlab/forum/assets/images/ajax-loader.gif">
        </div>
            <div class="chat custom-scroll  chat-scroll-container" id="dialog-messages-container">

                {% for message in messages %}

                <div class="{% if message.isMe %} chat-message-coming {% else %} chat-message-incoming {% endif %}">
                    <p>{{ message.content}}</p>
                    <span>{{ message.created_at  }}</span>
                </div>

                {% endfor %}
            </div>


        <div class="add-message-block">
            {% partial "@sendform" %}
        </div>
    </div>
</div>
