{% for message in messages %}


    <div class="{% if message.isMe %} chat-message-coming {% else %} chat-message-incoming {% endif %}">
        <p>{{ message.content}}</p>
        <span>{{ message.created_at }}</span>
    </div>


{% endfor %}