<form id="chat-send-message-form">
    <input type="hidden" value="{{dialogs[0].id}}" name="chat-current-dialog-id" id="chat-current-dialog-id">
    <textarea data-autoresize rows="1"
              name="content"
              class="chat-message-area"
              id="messageContent"
              placeholder="Введите текст cообщения"></textarea>
    <button type="submit" ><img src="{{ 'assets/img/telegram.jpg' |theme }}" alt="Отправить сообщение"></button>
</form>
