
/*SMEREKA*/
.courses-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a.courses-item{
    display: block;
    vertical-align: top;
    margin: 0 15px 60px 15px;
    width: 360px;
    text-decoration: none;
    color: #4f5b60;
}
/*Footer to bottom*/
body {
    position: relative;
    padding-bottom: 108px;
}
footer.login-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
/*************************************SOCIAL BTN LOGIN***********************************/
.social_login_btn{
    text-align: center;
}

form.modal-form .social_login_btn a{
    position: relative;
    top: 0;
    left:0;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    padding-left: 35px;
    background: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size:13px;
    cursor: pointer;
    width:150px;
    text-transform: capitalize;
    font-family: 'OpenSans', sans-serif;
    display: inline-block;
    margin-top:10px;
}
form.modal-form .social_login_btn .vk{
    background: url(../img/vk.svg) no-repeat 3px center  #44678D;
}
form.modal-form .social_login_btn .fb{
    background: url(../img/facebook.svg) no-repeat 3px center  #3B5998;
}
div.modal-content h2{
    margin-bottom:0;
}
.profile-menu ul{
    left: -110px;
    top: 100%;
}
.profile-menu ul a{
    font-size: 12px;
}
@media screen and (max-width: 1200px) {
    div.header-inner, div.section-inner, div.login-area-nav-inner, main, div.login-footer-inner {
        width: 992px;
    }

    div.feed-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.feed-list-item > a, div.feed-list-item a img{
        float: none;
    }
    div.feed-item-description{
        float: none;
        height:auto;
        padding-bottom:30px;
    }
    div.chat-feed{
        width:300px;
    }
    div.chat-message-feed{
        width:680px;
    }
    .courses-list{
        justify-content: space-around;
    }
}
@media screen and (min-width: 1024px){
    .open_dialog{
        display: none;
    }
}

@media screen and (max-width: 996px) {
    ul.login-navigation{
        float: none;
        display: block;
        margin:0 auto;
        text-align: center;
    }
    #login-area-nav h1{
        float: none;
    }
}
@media screen and (max-width: 1023px) {
    div.header-inner, div.section-inner, div.login-area-nav-inner, main, div.login-footer-inner {
        width: 100%;
        padding: 0 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    div.feed-list-item > a, div.feed-list-item a img{
        width:290px;
        height:auto;
    }
    div.news-page{
        width:100%;
    }
    div.news-page img{
        width:100%;
    }
    div.news-page p{
        padding:0 30px;
    }
    div.news-page div.comments-block {
        padding: 0 30px;
    }
    div.chat-message-feed{
        width:100%;
        margin-top:50px;
    }
    div.cabinet-message{
        position: relative;
    }
    div.chat-feed{
        position: absolute;
        top: 50px;
        left: 0;
        background: #fff;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        z-index: 10;
    }
    div.chat-feed.open{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow:  3px 0px 35px -5px rgba(0,0,0,.8);
        -moz-box-shadow:  3px 0px 35px -5px rgba(0,0,0,.8);
        box-shadow:  3px 0px 35px -5px rgba(0,0,0,.8);
        padding:10px;
        border-radius: 5px;
    }
    .open_dialog{
        display: block;
        width:45px;
        height:45px;
        background: none;
        border: none;
        position: absolute;
        top:-5px;
        right:10px;
        cursor: pointer;
    }
    .open_dialog svg{
        width:100%;
        height:100%;
    }
    div.feed-box {
        height: 485px;
        margin: 20px 0 40px 0;
    }
    section.promo-on-main p{
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .close-menu, .open-menu{
        display: none;
    }

}


@media screen and (max-width: 840px) {
    .modal-content {
        width: 100%;
        max-width: 580px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .close{
        right:0;
    }
}
@media screen and (max-width: 767px) {
    div.header-inner, div.section-inner, div.login-area-nav-inner, main, div.login-footer-inner {
        width: 100%;
        padding-left:15px;
        padding-right:15px;
        box-sizing: border-box;
    }
    div.feed-list-item {
        display: block;
    }
    div.feed-list-item > a, div.feed-list-item a img{
        width:100%;
        max-width: 380px;
        height:auto;
        display: block;
        margin: 10px auto;
    }
    div.feed-item-description{
        width:100%;
        margin-left:0;
    }
    nav{
        float: none;
        position: fixed;
        top: 0;
        left:0;
        background: #fff;
        width:100%;
        visibility: hidden;
        webkit-box-shadow: 0 3px 24px 2px rgba(0,0,0,0.30);
        -moz-box-shadow: 0 3px 24px 2px rgba(0,0,0,0.30);
        box-shadow: 0 3px 24px 2px rgba(0,0,0,0.30);
        -webkit-transform: translateY(-110%);
        -moz-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        -o-transform: translateY(-110%);
        transform: translateY(-110%);
        -webkit-transition: transform .4s;
        -moz-transition: transform .4s;
        -o-transition: transform .4s;
        transition: transform .4s;
    }
    nav.open{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
    header.login-area nav a{
        display: block;
        font-size:16px;
        text-align: center;
    }
    .open-menu{
        float: right;
        background: #fff;
        border: none;
        padding-top: 3px;
        cursor: pointer;
        display: block;
    }
    .open-menu.scrolled{
        position: fixed;
        right:20px;
        top:20px;
    }
    .close-menu{
        position: absolute;
        top:10px;
        right:5px;
        background: none;
        font-size:40px;
        line-height:18px;
        border: none;
        cursor: pointer;
        display: block;
        color: #4F5B60;
    }
    div.feed-item-description span{
        display: block;
        text-align: center;
    }
    div.chat-message-incoming, div.chat-message-coming{
        width:80%;
    }
}
@media screen and (max-width: 640px) {
    div.cabinet-content{
        width:100%;
        box-sizing: border-box;
    }
    section.promo-on-main h1{
        width:100%;
        padding-top: 140px;
    }
}
@media screen and (max-width: 510px) {
    #login-area-nav h1{
        display: none;
    }
    ul.login-navigation li{
        display: block;
        text-align: center;
    }
    ul.login-navigation{
        width:250px;
        margin:0 auto;
        float: none;
    }
    ul.login-navigation a{
        border-bottom: 4px solid transparent;
        padding: 0;
    }
}
@media screen and (max-width: 460px) {
    a.logo{
        float: left;
    }
    .open-menu{
        float: right;
    }
    footer div.marketing-nav-login a{
        margin-right:9px;
    }
    div.login-social span{
        display: block;
        margin-bottom:20px;
    }
    div.login-social{
        float: none;
    }
    div.login-copyright{
        float: none;
        margin-top:20px;
    }
    div.news-page h1 {
        font-size: 24px;
        text-align: center;
    }
    div.news-page p.article-teaser{
        text-align: center;
        line-height:20px;
    }
    div.news-page p{
        padding: 0;
    }
    div.news-page div.comments-block{
        padding: 0;
    }
    div.news-page div.comment-entry{
        width:100%;
    }
    div.news-page a.avatar {
        width: 20%;
    }
    
    .modal{
        z-index:101;
    }
    .close{
        top: -47px;
    }
    .modal-content .submit{
        float: none;
        margin-bottom:20px;
    }
    .modal-content a{
        position: relative;
        bottom:0;
        left:0;
    }
    section.promo-on-main h1{
        font-size: 32px;
    }
    section.promo-on-main p{
        line-height:20px;
        padding: 30px 0 100px 0;
    }
    a.courses-item{
        width:100%;
    }
    a.courses-item img{
        width:100%;
    }
    div.header-inner{
        padding: 0;
    }
    header.login-area a.logo{
        transform: scale(.9);
    }
}
@media screen and (max-width: 400px) {
    div.chat-feed{
        width:100%;
    }
    div.chat{
        height:400px;
    }
    div.cabinet-photo img, div.cabinet-name{
        display: block;
        text-align: center;
        margin: 0 auto;
        padding-left:0;
    }
    div.cabinet-photo img{
        margin-bottom:20px;
    }
    div.chat-message-incoming, div.chat-message-coming{
        width:90%;
    }
    div.chat-message-coming p, .chat-message-incoming p{
        padding:10px;
        line-height: 18px;
    }
    div.add-message-block{
        padding: 40px 20px;
    }
    div.add-message-block button{
        width: 100%;
        float: none;
    }
    ul.tab li a{
        font-size: 12px;
    }
}