title = "About"
url = "/about"
layout = "guest-layout"
description = "О сайте"
is_hidden = 0
==
<style>
#layout-content{
    min-height:760px
}
h1{
    text-align:center;
}
</style>
<h1>Страница о школе</h1>