title = "akk"
url = "/akk"
layout = "student-layout"
is_hidden = 0

[session]
security = "all"

[Esroyo\UserProfile\Components\Account account]
paramCode = "code"
==
{% if not user %}

    <div class="row">

        <div class="col-md-6">
            <h3>{{ _('sign_in', 'rainlab.user::lang.account') }}</h3>
            {% partial __PARENT__ ~ '::signin' %}
        </div>

        <div class="col-md-6">
            <h3>{{ _('register', 'rainlab.user::lang.account') }}</h3>
            {% partial __PARENT__ ~ '::register' %}
        </div>

    </div>

{% else %}

    {% partial __PARENT__ ~ '::activation_check' %}

    {% partial account ~ '::update' %}
{% endif %}