title = "cabinet"
url = "/cabinet"
layout = "student-layout"


[Esroyo\UserProfile\Components\Account account]
redirect = "home"
paramCode = "code"

[imageUploader]
placeholderText = "Click or drag images to upload"
maxSize = 1
fileTypes = ".gif,.jpg,.jpeg,.png"
imageWidth = 150
imageHeight = 150
imageMode = "crop"

[builderList]
modelClass = "RedCarlos\Cabinet\Models\Message"
scope = "-"
displayColumn = "content"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[chat]
==
<?php
function onInit()
{
    if($this->account->user())
    	$this->imageUploader->bindModel('avatar', $this->account->user());
}
?>
==
<h2>Личный кабинет</h2>

		<ul class="tab cabinet-tab">
			<li><a href="#" class="tablinks active" data-tab-index="20" >Профиль</a></li>
			<!--<li><a href="#" class="tablinks" data-tab-index="30" >Календарь</a></li>-->
			<!--<li><a href="#" class="tablinks " data-tab-index="10" >Сообщения</a></li>-->
		</ul>

	<div class="tabcontent-block">

		<div id="20" class="tabcontent">
			<div class="cabinet-content">
				<div class="cabinet-photo">
					<form>
						<!-- File uploader -->
						{% if user %}
						{% component 'imageUploader' %}
						{% endif %}
					</form>
					<div class="cabinet-name">
						<h2 name="name" id="accountName">{{ user.name }}</h2>
						<span name="email" id="accountEmail">{{ user.email }}</span>
					</div>
				</div>

                <div>
					<button class="cabinet-edit-btn">
						<span id="profile-description-edit">
							Изменить <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</span>
					<span style="display: none" id="profile-description-save">
							Сохранить <i class="fa fa-check" aria-hidden="true"></i>
						</span>
					</button>
					<h2>О себе</h2>
					<div  class="cabinet-edit-description">{{ user.description|raw }}</div>
                </div>


				{% if user.isSocialUser() == false %}

				<div class="comments-block">
					<h4>Смена пароля</h4>

					{% if user %}

						{{ form_ajax('onChangePassword', {
						model: user,
						class:'modal-form' }) }}
						<label>Старый пароль</label>
						<input type="password" name="old_password" placeholder="Введите свой пароль">
						<label>Новый пароль</label>
						<input type="password" name="password" placeholder="Введите новый пароль">
						<label>Повторите новый пароль</label>
						<input type="password" name="confirm_password" placeholder="Введите новый пароль еще раз">
						<button type="submit" class="submit">Сохранить</button>
						{{ form_close() }}

						{% flash %}

						<div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						</div>

						{% endflash %}

					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>

		<div id="10" class="tabcontent">
			{% component 'chat' %}
		</div>

			<div id="30" class="tabcontent">
				<iframe src="//calendar.google.com/calendar/embed?
					showNav=0&showPrint=0&showTabs=0&showTz=0&wkst=1&color=%238C500B&
					src=k4bd6t2pfsgbu8c2mj4qdk7i2s%40group.calendar.google.com&
					src=55559lo394efvfmadgfhcl1jko%40group.calendar.google.com
					&ctz=Europe/Kiev"
					style="border: 0" width="100%" height="600" frameborder="0" scrolling="yes"></iframe>
			</div>

	</div>