title = "chat"
url = "/chat"
layout = "student-layout"
is_hidden = 0

[websocket]
uri = "ws://192.168.15.18:8080/"
==
<br>
<br>
<br>
<meta charset="utf-8">
<div class="cabinet-message">
					<div class="chat-feed">
						<form action="#">
							<input type="text" name="search" placeholder="Введите имя друга" class="search feedlist">
						</form>
						<div class="feed-box custom-scroll">
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Алена Чепижко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Антон Ничепоренко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Алена Чепижко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Антон Ничепоренко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Алена Чепижко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Антон Ничепоренко</h5>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}" alt="">
								<h5>Алена Чепижко</h5>
							</a>
							<a href="#">
								<img src="{{ 'assets/img/feed1.jpg'|theme }}"alt="">
								<h5>Антон Ничепоренко</h5>
							</a>
						</div>
					</div>
					<div class="chat-message-feed">
						<div class="chat custom-scroll">
								<div class="chat-message-incoming" data-websocket-onmessage="$(this).append('<p>'+event.payload.text+'</p> <span>18 августа 2016, 20:25</span>')"></div>
							</div>
						</div>
						<div class="add-message-block">
							<form role="form" data-websocket-event="message">
								<textarea data-autoresize rows="1" name="text" placeholder="Введите текст сообщения"></textarea>
								<button type="submit" class="btn-orange">Отправить</button>
							</form>
						</div>
					</div>