title = "home"
url = "/"
layout = "main-layout"
is_hidden = 0

[account]
redirect = "cabinet"
paramCode = "code"

[resetPassword]
paramCode = "code"

[session]
security = "all"
==
<section class="courses-on-main container">
		<div class="section-inner">
			<h2>Курсы</h2>
			<div class="courses-list">
				<a href="/kursy" class="courses-item">
					<img src="{{ 'assets/img/courses-item2.jpg'|theme }}" alt="Анимация в Maya для начинающих">
					<h3>3д моделирование в Maya 2017</h3>
					<p>Нашей целью является создание высококачественных образовательных программ, чтобы дать художникам и дизайнерам инструменты, необходимые для достижения успеха в своей карьере.</p>
				</a>
			</div>
    	</div>
	</section>