title = "inst"
url = "/inst"
layout = "student-layout"
is_hidden = 0
==
<header class="login-area">
		<div class="header-inner">
			<a href="#" class="logo">Сайт Variform</a>
			<button id="openModal" type="button" class="sign-in">Выйти</button>
			<nav>
				<a href="#">Главная</a>
				<a href="#">Курсы</a>
				<a href="#">Блог</a>
				<a href="#">Про школу</a>
			</nav>
		</div>
	</header>
	<div id="login-area-nav">
		<div class="login-area-nav-inner container">
			<h1>Курс: 3D моделирование в Maya</h1>
			<ul class="login-navigation">
				<li>
					<a href="#">Обновления</a>
				</li>
				<li>
					<a href="#" class="current">Обучение</a>
				</li>
				<li>
					<a href="#">Стримы</a><span>2</span>
				</li>
				<li>
					<a href="#">Личный кабинет</a><span>18</span>
				</li>
			</ul>
		</div>
	</div>
	<main class="study">
	<div class="container">
	<h2>Неделя 2: мимика</h2>
		<ul class="tab">
			<li><a href="#" class="tablinks active" onclick="openTab(event, '10')">КУРСЫ</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '20')">ЗАДАНИЕ</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '30')">РЕВЬЮ</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '40')">QNA</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '50')">СООБЩЕНИЯ</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '60')">ПРОФИЛЬ</a></li>
		</ul>
<div id="10" class="tabcontent">
                            <select class="dropdown">
                                    <option><a href="instructor-course-add.html">Курс 0</a></li>
                                    <option><a href="instructor-course-add.html">Курс 1</a></li>
                                    <option><a href="instructor-course-add.html">Курс 2</a></li>
                                    <option><a href="instructor-course-add.html">Курс 3</a></li>
                                    <option><a href="instructor-course-add.html">Курс 4</a></li>
                                    <option><a href="instructor-course-add.html">Курс 5</a></li>
                                    <option><a href="instructor-course-add.html">Курс 6</a></li>
                                    <option><a href="instructor-course-add.html">Курс 7</a></li>
                                    <option><a href="instructor-course-add.html">Курс 8</a></li>
                                    <option><a href="instructor-course-add.html">Курс 9</a></li>
                            </div>
</div>
<div id="20" class="tabcontent">
</div>
<div id="30" class="tabcontent">
</div>
<div id="40" class="tabcontent">
</div>
<div id="50" class="tabcontent">
</div>
<div id="60" class="tabcontent">
</div>
</div>
</main>
	<footer class="login-footer">
		<div class="login-footer-inner">
			<div class="marketing-nav-login">
				<a href="#">Сотрудничество</a>
				<a href="#">Реклама</a>
				<a href="#">Соглашение</a>
			</div>
			<div class="social-block login-social">
				<span>Мы в социальных сетях:</span>
				<a href="#" class="fb">facebook</a>
				<a href="#" class="tw">twitter</a>
				<a href="#" class="vk">vkontakte</a>
			</div>
			<div class="login-copyright">Untitled One Academy © 2016</div>
		</div>
	</footer>
	

	<!-- The Modal -->
	<div id="loginModal" class="modal">
		<div class="modal-content">
			<span class="close">✖</span>
			<h2>Выход</h2>
			<form action="#" class="modal-form">
				<p>Вы действительно хотите покинуть личный кабинет?</p>
				<button type="submit" class="submit">Выйти</button>
			</form>
			<a href="#">Вернуться назад</a>
		</div>
	</div>