title = "my-group"
url = "/my-group"
layout = "student-layout"
is_hidden = 0
==
<div class="members-list">
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
				</div>