title = "student"
url = "/student"
layout = "student-layout"
is_hidden = 0

[invoice]
id = "{{ :id }}"
payPage = "cabinet"
isPrimary = 1

[invoices]
invoicePage = "cabinet"

[payment]
hash = "{{ :hash }}"
==
{% component 'invoice' %}
{% component 'invoices' %}
{% component 'payment' %}
<aside>
			<h3>Недели курса</h3>
			<div class="aside-nav">
				<button class="accordion">Неделя 1</button>
				<div class="panel">
					<a href="#">Введение</a>
					<a href="#">Знакомство с интерфейсом</a>
					<a href="#">Базовые фигуры</a>
				</div>
				<button class="accordion">Неделя 2</button>
				<div class="panel">
					<a href="#">Моделирование человека</a>
					<a href="#">Анатомия</a>
					<a href="#">Мимика</a>
				</div>
				<button class="accordion">Неделя 3</button>
				<div class="panel">
					<a href="#">Введение</a>
					<a href="#">Знакомство с интерфейсом</a>
					<a href="#">Базовые фигуры</a>
				</div>
				<button class="accordion">Неделя 4</button>
				<div class="panel">
					<a href="#">Моделирование человека</a>
					<a href="#">Анатомия</a>
					<a href="#">Мимика</a>
				</div>
				<button class="accordion coming-soon">Неделя 5</button>
				<div class="panel">
					<a href="#">Моделирование человека</a>
					<a href="#">Анатомия</a>
					<a href="#">Мимика</a>
				</div>
				<button class="accordion coming-soon">Неделя 6</button>
				<div class="panel">
					<a href="#">Моделирование человека</a>
					<a href="#">Анатомия</a>
					<a href="#">Мимика</a>
				</div>
			</div>
		</aside>
		<h2>Неделя 2: мимика</h2>
		<ul class="tab">
			<li><a href="#" class="tablinks active" onclick="openTab(event, '10')">Лекция</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '20')">Домашнее задание</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '30')">Ревью работы</a></li>
			<li><a href="#" class="tablinks" onclick="openTab(event, '40')">QnA</a></li>
		</ul>
		<div class="tabcontent-block">
			<div id="10" class="tabcontent">
				<img src="{{ 'assets/img/screen.jpg'|theme }}" alt="">
				<p>Жесткий моделирование поверхность выходит за рамки создания многоугольников и толкая вершин в 3D-пространстве. Функциональная и правдоподобно дизайн, что делает работу концепции.</p>
				<p>Этот класс о подключении инжиниринг, проектирование и концепт-арт. Вы узнаете, революционный подход к моделированию твердую поверхность, которая будет полезна в любом производстве трубопроводов.</p>
				<p>Жесткий моделирование поверхность выходит за рамки создания многоугольников и толкая вершин в 3D-пространстве. Функциональная и правдоподобно дизайн, что делает работу концепции.</p>
				<p>Этот класс о подключении инжиниринг, проектирование и концепт-арт. Вы узнаете, революционный подход к моделированию твердую поверхность, которая будет полезна в любом производстве трубопроводов.</p>
				<p>Жесткий моделирование поверхность выходит за рамки создания многоугольников и толкая вершин в 3D-пространстве. Функциональная и правдоподобно дизайн, что делает работу концепции.</p>
				<p>Этот класс о подключении инжиниринг, проектирование и концепт-арт. Вы узнаете, революционный подход к моделированию твердую поверхность, которая будет полезна в любом производстве трубопроводов.</p>
			</div>
			<div id="20" class="tabcontent">
				<p>Трёхмерная графика активно применяется для создания изображений на плоскости экрана или листа печатной продукции в науке и промышленности, например, в системах автоматизации проектных работ (САПР; для создания твердотельных элементов: зданий, деталей машин, механизмов), архитектурной визуализации (сюда относится и так называемая «виртуальная археология»), в современных системах медицинской визуализации.</p>
				<p>Самое широкое применение — во многих современных компьютерных играх, а также как элемент кинематографа, телевидения, печатной продукции.</p>
				<p>Трёхмерная графика обычно имеет дело с виртуальным, воображаемым трёхмерным пространством, которое отображается на плоской, двухмерной поверхности дисплея или листа бумаги. В настоящее время известно несколько способов отображения трёхмерной информации в объемном виде, хотя большинство из них представляет объёмные характеристики весьма условно, поскольку работают со стереоизображением. Из этой области можно отметить стереоочки, виртуальные шлемы, 3D-дисплеи, способные демонстрировать трёхмерное изображение. Несколько производителей продемонстрировали готовые к серийному производству трёхмерные дисплеи[1]. Однако и 3D-дисплеи по-прежнему не позволяют создавать полноценной физической, осязаемой копии математической модели, создаваемой методами трёхмерной графики. Развивающиеся с 1990-х годов технологии быстрого прототипирования ликвидируют этот пробел. Следует заметить, что в технологиях быстрого прототипирования используется представление математической модели объекта в виде твердого тела (воксельная модель).</p>
				<img src="{{ 'assets/img/hw.jpg'|theme }}" alt="">
				<p>Трёхмерная графика обычно имеет дело с виртуальным, воображаемым трёхмерным пространством, которое отображается на плоской, двухмерной поверхности дисплея или листа бумаги. В настоящее время известно несколько способов отображения трёхмерной информации в объемном виде, хотя большинство из них представляет объёмные характеристики весьма условно, поскольку работают со стереоизображением. Из этой области можно отметить стереоочки, виртуальные шлемы, 3D-дисплеи, способные демонстрировать трёхмерное изображение. Несколько производителей продемонстрировали готовые к серийному производству трёхмерные дисплеи[1]. Однако и 3D-дисплеи по-прежнему не позволяют создавать полноценной физической, осязаемой копии математической модели, создаваемой методами трёхмерной графики. Развивающиеся с 1990-х годов технологии быстрого прототипирования ликвидируют этот пробел. Следует заметить, что в технологиях быстрого прототипирования используется представление математической модели объекта в виде твердого тела (воксельная модель).</p>
				<p>Трёхмерная графика активно применяется для создания изображений на плоскости экрана или листа печатной продукции в науке и промышленности, например, в системах автоматизации проектных работ (САПР; для создания твердотельных элементов: зданий, деталей машин, механизмов), архитектурной визуализации (сюда относится и так называемая «виртуальная археология»), в современных системах медицинской визуализации.</p>
				<p>Самое широкое применение — во многих современных компьютерных играх, а также как элемент кинематографа, телевидения, печатной продукции.</p>
				<div class="work-download-block">
					<h4>Загрузить работу</h4>
					<p>Вы можете загрузить графические файлы любых типов, с максимальным разрешением 2500 рх. в ширину. Цветовая модель RGB. И короче всякая такая информация, чтобы юзеру не пришлось по сто раз пытаться залить файл, если вдруг не пройдет.</p>
					<form action="#">
						<input type="file" name="file-7[]" id="file-7" class="inputfile inputfile-6" data-multiple-caption="{count} files selected" multiple />
						<label for="file-7"><span class="upload-button">Выберите один или несколько файлов на компьютере</span>Добавить еще один файл</label>
						<button type="submit" class="btn-dark">Загрузить</button>
					</form>
				</div>
				<div class="comments-block">
					<h4>Комментарии</h4>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-1.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Игорь Коновал</a>
							<span>9 августа 2016</span>
							<p>Веб-дизайн (от англ. Web design) — отрасль веб-разработки и разновидность дизайна, в задачи которой входит проектирование пользовательских веб-интерфейсов для сайтов или веб-приложений.</p>
							<p>Уникальный дизайн стоит дороже, но и предполагает отрисовку с нуля, полностью уникальную разработку под конкретный заказ. В зависимости от профессионализма и/или политики компании веб-дизайнер либо разрабатывает идею и концепцию дизайна полностью самостоятельно, либо получает ряд требований (цвет, стиль и т. п.), ожиданий и идей от заказчика или креативного директора (арт-директора) и старается держаться этого направления при разработке макета. Большинство заказчиков ошибочно отождествляют веб-дизайнера и веб-мастера, поручая ему и публикацию сайта.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<span>9 августа 2016</span>
							<p>В аналитической геометрии каждая точка трёхмерного пространства описывается как набор из трёх величин — координат. Задаются три взаимно перпендикулярных координатных оси, пересекающихся в начале координат. Положение точки задаётся относительно этих трёх осей заданием упорядоченной тройки чисел. Каждое из этих чисел задаёт расстояние от начала отсчёта до точки, измеренное вдоль соответствующей оси, что равно расстоянию от точки до плоскости, образованной другими двумя осями.</p>
							<p>Понимание трёхмерного пространства людьми, как считается, развивается ещё в младенчестве, и тесно связано с координацией движений человека. Визуальная способность воспринимать окружающий мир органами чувств в трёх измерениях называется глубиной восприятия.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<span>9 августа 2016</span>
							<p>В аналитической геометрии каждая точка трёхмерного пространства описывается как набор из трёх величин — координат. Задаются три взаимно перпендикулярных координатных оси, пересекающихся в начале координат. Положение точки задаётся относительно этих трёх осей заданием упорядоченной тройки чисел. Каждое из этих чисел задаёт расстояние от начала отсчёта до точки, измеренное вдоль соответствующей оси, что равно расстоянию от точки до плоскости, образованной другими двумя осями.</p>
							<p>Понимание трёхмерного пространства людьми, как считается, развивается ещё в младенчестве, и тесно связано с координацией движений человека. Визуальная способность воспринимать окружающий мир органами чувств в трёх измерениях называется глубиной восприятия.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry add-comment">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<form action="#" class="add-comment-form">
								<textarea data-autoresize rows="1" placeholder="Введите текст комментария"></textarea>
								<button type="submit" class="btn-orange">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="30" class="tabcontent">
				<img src="img/review.jpg" alt="Ревью работы">
				<div class="comments-block">
					<h4>Комментарии</h4>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Игорь Коновал</a>
							<span>9 августа 2016</span>
							<p>Веб-дизайн (от англ. Web design) — отрасль веб-разработки и разновидность дизайна, в задачи которой входит проектирование пользовательских веб-интерфейсов для сайтов или веб-приложений.</p>
							<p>Уникальный дизайн стоит дороже, но и предполагает отрисовку с нуля, полностью уникальную разработку под конкретный заказ. В зависимости от профессионализма и/или политики компании веб-дизайнер либо разрабатывает идею и концепцию дизайна полностью самостоятельно, либо получает ряд требований (цвет, стиль и т. п.), ожиданий и идей от заказчика или креативного директора (арт-директора) и старается держаться этого направления при разработке макета. Большинство заказчиков ошибочно отождествляют веб-дизайнера и веб-мастера, поручая ему и публикацию сайта.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<span>9 августа 2016</span>
							<p>В аналитической геометрии каждая точка трёхмерного пространства описывается как набор из трёх величин — координат. Задаются три взаимно перпендикулярных координатных оси, пересекающихся в начале координат. Положение точки задаётся относительно этих трёх осей заданием упорядоченной тройки чисел. Каждое из этих чисел задаёт расстояние от начала отсчёта до точки, измеренное вдоль соответствующей оси, что равно расстоянию от точки до плоскости, образованной другими двумя осями.</p>
							<p>Понимание трёхмерного пространства людьми, как считается, развивается ещё в младенчестве, и тесно связано с координацией движений человека. Визуальная способность воспринимать окружающий мир органами чувств в трёх измерениях называется глубиной восприятия.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<span>9 августа 2016</span>
							<p>В аналитической геометрии каждая точка трёхмерного пространства описывается как набор из трёх величин — координат. Задаются три взаимно перпендикулярных координатных оси, пересекающихся в начале координат. Положение точки задаётся относительно этих трёх осей заданием упорядоченной тройки чисел. Каждое из этих чисел задаёт расстояние от начала отсчёта до точки, измеренное вдоль соответствующей оси, что равно расстоянию от точки до плоскости, образованной другими двумя осями.</p>
							<p>Понимание трёхмерного пространства людьми, как считается, развивается ещё в младенчестве, и тесно связано с координацией движений человека. Визуальная способность воспринимать окружающий мир органами чувств в трёх измерениях называется глубиной восприятия.</p>
						</div>
					</div>
					<div class="comment-item">
						<a href="#" class="avatar"><img src="{{ 'assets/img/comment-2.jpg'|theme }}" alt="Аватар"><!-- 60 х 60 --></a>
						<div class="comment-entry add-comment">
							<a href="#" class="avatar-name">Иван Зусько</a>
							<form action="#">
								<textarea data-autoresize rows="1" placeholder="Введите текст комментария"></textarea>
								<button type="submit" class="btn-orange">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="40" class="tabcontent">
				<div class="stream-online">
					<span class="status">Идет прямо сейчас</span>
					<h1>Моделирование автомобиля в 3D Studio Max</h1>
					<img src="{{ 'assets/img/stream.jpg'|theme }}" alt="Моделирование автомобиля в 3D Studio Max">
					<span>Смотрят: 486 пользователей</span>
				</div>
				<h4 class="chapter-header">Прошедшие стримы</h4>
				<div class="courses-list">
					<a href="#" class="courses-item">
						<img src="{{ 'assets/img/stream3.jpg'|theme }}">
						<h3>Анимация в Maya для начинающих</h3>
						<span>2 июля 2016</span>
					</a>
					<a href="#" class="courses-item">
						<img src="{{ 'assets/img/courses-item1.jpg'|theme }}">
						<h3>Анимация в Maya для начинающих</h3>
						<span>10 июля 2016</span>
					</a>
					<a href="#" class="courses-item">
						<img src="{{ 'assets/img/courses-item3.jpg'|theme }}">
						<h3>Анимация в Maya для начинающих</h3>
						<span>15 июля 2016</span>
					</a>
					<a href="#" class="courses-item">
						<img src="{{ 'assets/img/stream2.jpg'|theme }}">
						<h3>Анимация в Maya для начинающих</h3>
						<span>17 августа 2016</span>
					</a>
				</div>
			</div>
		</div>