/*ostfrost added*/
.fr-popup .fr-color-set .fr-command  .fr-sr-only{
    display: none;
}
.fr-box.fr-ltr.october-theme.fr-basic.fr-top a[href="https://froala.com/wysiwyg-editor"]{display:none!important}
.fr-view{width:100%;max-width:980px;margin: 0 auto}.fr-view>p{ font-size: 14px;font-family: 'OpenSans', sans-serif}
.fr-popup .fr-buttons .fr-btn[data-cmd="imageManager"]{display: none;}