
    {% if returnUrl %}
        <p>&larr; <a href="{{ returnUrl }}">Back to {{ channel.title }}</a></p>
    {% endif %}

    {% if topic %}

    {% partial "@controlpanel" %}

<div class="news-page" id="post">
    <div  class="comments-block" id="comments">
    <div id="posts">
        {% partial "@posts" %}
    </div>
        {% if posts.loadMore %}
            <div class="comments-ajax-loader">
                <img src="/plugins/rainlab/forum/assets/images/ajax-loader.gif"/>
            </div>
        {% endif %}
     {% partial "@postform" %}

    {% elseif channel %}

        <h4>Create a new discussion topic</h4>
        {% partial "@createform" %}

    {% else %}

        <p>Topic not found</p>

    {% endif %}
  </div>
</div>
