{% if user %}

<div class="comment-item">

        <input type="hidden" name="topic" value="{{ topic.id }}" />

    <a href="{{ post.member.url }}" class="avatar">
        <img src="{% if user %}{{ member.user.avatarThumb(50) }}{% else %}//www.gravatar.com/avatar/c0640377b30166593ea3d62208698f3a?s=50&d=mm{% endif %}" alt="{{ member.username }}" />
    </a>

        <div class="comment-entry add-comment">
            <a href="#" class="avatar-name">{% if user and member.user.forum_member.username %}{{member.user.forum_member.username}}{% elseif member.user.name %}{{ member.user.name }}{% else %}Guest{% endif %}</a>

            {{ form_ajax('onAjaxPost',
            { update : {'@comments': '#posts'},
              success : "app.sendBlogComment()",
              class:'add-comment-form'
            }
            )
            }}
                <textarea data-autoresize rows="1"
                          name="content"
                          id="topicContent"
                          placeholder="Введите текст комментария"></textarea>
                <button type="submit" class="btn-orange">Отправить</button>
            {{ form_close() }}
        </div>
</div>

{% else %}
<p>Оставить комментарий могут только зарегистрированные пользователи</p>
{% endif %}