
<?= Form::open() ?>
    <input type="hidden" name="postback" value="1" />

    <div class="form-elements" role="form">
        <div class="form-group text-field horizontal-form october">

            <!-- Login -->
            <input
                type="text"
                name="login"
                value="<?= e(post('login')) ?>"
                class="form-control width-1 icon user"
                placeholder="<?= e(trans('backend::lang.account.login_placeholder')) ?>"
                autocomplete="off"
                maxlength="255" />

            <!-- Password -->
            <input
                type="password"
                name="password"
                value=""
                class="form-control width-1 icon lock"
                placeholder="<?= e(trans('backend::lang.account.password_placeholder')) ?>"
                autocomplete="off"
                maxlength="255" />

            <!-- Submit Login -->
            <button type="submit" class="btn btn-primary login-button">
                <?= e(trans('backend::lang.account.login')) ?>
            </button>
        </div>

        <p class="oc-icon-lock pull-right forgot-password">
            <!-- Forgot your password? -->
            <a href="<?= Backend::url('backend/auth/restore') ?>" class="text-muted">
                <?= e(trans('backend::lang.account.forgot_password')) ?>
            </a>
        </p>

    </div>
<?= Form::close() ?>

<?= $this->fireViewEvent('backend.auth.extendSigninView') ?>
