
    {% for message in messages %}
    <div class="comment-item">

        <a href="#" class="avatar"><img src="{{ user.getAvatarThumb(50) }}" alt="kakakaka5"></a>
        <div class="comment-entry">
            <a href="#" class="avatar-name">{{ user.name}}</a>
            <span>{{ message.frontendDate() }}</span>
            <p></p><p>{{ message.content}}</p><p></p>
        </div>
    </div>
    {% endfor %}
