<div class="week-wrapper">
<aside>
      {% partial "@navigation" %}
</aside>
<article class="study_wrap">
<div id="week-title">{% partial "@week_title" %}</div>

<ul class="tab">
    <li><a href="#" class="tablinks active" data-tab-index='40'>Лекция</a></li>
    <li><a href="#" class="tablinks" data-tab-index="20"  >Домашнее задание</a></li>
    <li><a href="#" class="tablinks" data-tab-index='30'>Ревью работы</a></li>
    <li><a href="#" class="tablinks" data-tab-index='50'>QnA</a></li>
</ul>

<div id="week-content">
   {% partial "@week" %}
</div>
</article>
</div>