<h3 class="open_list">Недели курса
    <span class="open_list_icon">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 129 129" enable-background="new 0 0 129 129" width="512px" height="512px">
  <g>
    <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" fill="#4f5b60"/>
  </g>
</svg>
				</span>
</h3>

<div class="aside-nav">
    {% for week in weeks %}
    <button class="accordion {% if week.current %} active-week {% endif %} course-week {% if week.isLocked %} coming-soon {% endif %}"
            {% if week.isLocked %} disabled {% endif %} data-week-id="{{ week.id }}">{{ week.name}}</button>
    <div class="panel">
    </div>
    {% endfor %}
    <!--<button class="accordion coming-soon">Неделя {{ week_next }}</button>-->
    <!--<div class="panel">-->
        <!--<a href="#">Моделирование человека</a>-->
        <!--<a href="#">Анатомия</a>-->
        <!--<a href="#">Мимика</a>-->
    <!--</div>-->
</div>