
<div class="tabcontent-block">
    <div id="40" class="tabcontent">
        <img src="{{ week.lesson.lesson_image.getPath() }}" alt="">

        <p>
            <span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true">
                <iframe width="100%" height="420" src="{{week.lesson.video}}" frameborder="0" allowfullscreen=""></iframe>
            </span>
        </p>

    </div>
    <div id="20" class="tabcontent">
        <a href="{{ week.lesson.task.video}}"></a>

        {{ week.lesson.task.content|raw}}

        {% if week.current  %}
        <div class="work-download-block">
            <h4>Загрузить работу</h4>
            <p>
                Вы можете загрузить графические файлы любых типов, с максимальным разрешением 2500 рх. в ширину.
                Цветовая модель RGB.
            </p>
            <!-- File uploader -->
            {{ form_open() }}
                <input type="hidden" value="{{week.id}}" name="week_id"/>
                {% component 'fileUploader' %}
            {{ form_close() }}
        </div>
        {% elseif fileList.count() %}
            <div class="work-download-block">
                <h3>Загруженные файлы</h3>
            {% for file in fileList %}
                <div  class="responsiv-uploader-fileupload style-file-multi is-multi" >
                    <div class="upload-object is-success" data-id="{{ file.id }}" data-path="{{ file.getPath() }}">
                        <div class="info">
                            <h4 class="filename">
                                <span data-dz-name>{{ file.title ?: file.file_name }}</span>
                            </h4>
                            <p class="size">{{ file.sizeToString }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}



        <div class="comments-block">
            <div id="posts">
                <h4>Комментарии</h4>
            </div>

            <div id="week-comments">
                {% for message in messages %}
                <div class="comment-item" id="post-16">
 <!--TODO: MAKS у коментов авка должна быть корректная. Достань с сообщения. -->
                    <a href="#" class="avatar"><img
                            src="{{ user.getAvatarThumb(50) }}"
                            alt="{{ user.name}}"></a>
                    <div class="comment-entry">
                        <a href="#" class="avatar-name">{{ user.name}}</a>
                        <span>{{ message.frontendDate() }}</span>
                        <p></p>
                        <p>{{ message.content}}</p>
                        <p></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="comments-ajax-loader">
                <img src="/plugins/redcarlos/courses/assets/images/ajax-loader.gif"/>
            </div>

            <div class="comment-item">

                <a href="" class="avatar">
                    <img src="{{user.getAvatarThumb(50)}}"
                         alt="{{user.name}}">
                </a>
                <div class="comment-entry add-comment">
                    <a href="#" class="avatar-name">{{ user.name}}</a>

                    <form class="add-comment-form" id="week-send-comment-form">
                        <input type="hidden" name="week_id" value="{{week.id}}">
                        <input type="hidden" name="dialog_id" value="{{dialog_id}}">
                        <textarea rows="1" name="content" id="weekCommentContent"
                                  placeholder="Введите текст комментария"></textarea>
                        <button type="submit" class="btn-orange">Отправить</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div id="30" class="tabcontent">
        <p>
            <span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true">
                <iframe width="100%" height="420" src="{{review_video_url}}" frameborder="0" allowfullscreen=""></iframe>
            </span>
        </p>
    </div>
    <div id="50" class="tabcontent">
        <p>
            <span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true">
                <iframe width="100%" height="420" src="{{qna_video_url}}" frameborder="0" allowfullscreen=""></iframe>
            </span>
        </p>
    </div>
</div>