[RainLab\User\Components\Account account]
redirect = "cabinet"
paramCode = "code"

[session]
security = "all"

[staticPage]
==
<html>
{% partial 'head' %}
<body>
{% partial 'login-area-student' %}

<!-- Content -->
<section id="layout-content">
    <main>
        {% page %}
    </main>
</section>

{% partial 'footer-student' %}
{% if user %}
{% partial 'modal-exit' %}
{% else %}
{% partial 'login-modal' %}
{% partial 'reg-modal' %}
{% endif %}

{% partial 'scripts' %}
{% framework extras %}
{% scripts %}

</body>
</html>