==
<html>
{% partial 'head' %}
<body>
{% partial 'login-area-student' %}
<!-- Content -->

 {% partial 'promo-on-main' %}


<section id="layout-content">
    <main>
        {% page %}
    </main>
</section>

{% partial 'footer-student' %}
{% if user %}
{% partial 'modal-exit' %}
{% else %}
{% partial 'login-modal' %}
{% partial 'reg-modal' %}
{% endif %}

{% partial 'scripts' %}
{% framework extras %}
{% scripts %}

</body>
</html>