[RainLab\User\Components\Account account]
paramCode = "code"

[session]
security = "all"

[staticPage]
==
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled-one - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="author" content="revolt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Untitled-one">
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/media.css'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>
{% partial 'login-area-student' %}
<!-- Content -->
<section id="layout-content">
    <main>
        {% component 'staticPage' %}
    </main>
</section>
{% partial 'footer-student' %}
{% if user %}
{% partial 'modal-exit' %}
{% else %}
{% partial 'login-modal' %}
{% partial 'reg-modal' %}
{% endif %}

<script src="{{ 'assets/js/jquery.js'|theme }}"></script>
<!--<script src="{{ 'assets/js/script.js'|theme }}"></script>-->
<script src="{{ 'assets/js/main.js'|theme }}"></script>
{% framework extras %}
{%  scripts %}

</body>
</html>