[viewBag]
==
<footer class="login-footer">
		<div class="login-footer-inner">
			<div class="marketing-nav-login">
				<a href="#links">Сотрудничество</a>
				<a href="#links">Реклама</a>
				<a href="#links">Соглашение</a>
			</div>
			<div id='links' class="social-block login-social">
				<span>Мы в социальных сетях:</span>
				<a href="https://www.facebook.com/UntitledOneAcademy/" class="fb">facebook</a>
				<a href="#links" class="tw">twitter</a>
				<a href="https://vk.com/untitledoneacademy" class="vk">vkontakte</a>
			</div>
			
			<div class="login-copyright">Untitled One Academy © 2016-{{"now"|date('Y')}}</div>
		</div>
	</footer>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90280069-1', 'auto');
    ga('send', 'pageview');

</script>