[viewBag]
==
<div class="members-list">
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Кирилл Чепижко</h5>
					</a>
					<a href="#">
						<img src="{{ 'assets/img/member1.jpg'|theme }}" alt="">
						<h5>Антоний Второй</h5>
					</a>
				</div>