[viewBag]
==
<?php
function onRun()
{
    $user = Auth::getUser();
    var_dump($user);
    if ( $user ) {
        var_dump($user);
    }
}
?>
==
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42082039 = new Ya.Metrika({
                    id:42082039,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42082039" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<header class="login-area-main">
		<div class="header-inner">
			<a href="/" class="logo">Сайт Variform</a>
			<button id="openModal" type="button" class="sign-in">Войти</button>
			<nav>
				<!--<a class="{% if this.page.id == 'home' %} current {%endif%}" href="{{'home' | page}}">Главная</a>-->
				<a href="{{'courses'|page}}">Курсы</a>
				<a  class="{% if this.page.id == 'feed' %} current {%endif%}"  href="{{ 'feed'|page }}">Блог</a>
				<a href="#">Про школу</a>
			</nav>
		</div>
	</header>