[viewBag]
==
<head>
    <meta charset="utf-8">
    <title>Untitled-one - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="author" content="revolt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Untitled-one">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/media.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery.jscrollpane.css'|theme }}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% styles %}
</head>