[viewBag]
==
<div id="login-area-nav">
		<div class="login-area-nav-inner">
			<h1>Курс: 3D моделирование в Maya</h1>
			<ul class="login-navigation">
				<li>
					<a href="#">Обновления</a>
				</li>
				<li>
					<a class="{% if this.page.id == 'student' %} current {%endif%}" href="#">Обучение</a>
				</li>
				<li>
					<a class="{% if this.page.id == 'my-group' %} current {%endif%}" href="#">Моя группа</a>
				</li>
				<li>
					<a href="#">Архив</a>
				</li>
				<li>
					<a class="{% if this.page.id == 'cabinet' %} current {%endif%}" href="{{'cabinet' | page}}">Личный кабинет</a>
				</li>
			</ul>
		</div>
	</div>