0viewBag]
[sociallogin]
==
<div id="loginModal" class="modal">
	<div class="modal-content">
		<span class="close">✖</span>
		<h2>Вход</h2>
		<form data-request="onSignin" class="modal-form">
			<div class="social_login_btn">
				{% for name, link in social_login_links %}
					<a class="{% if name == 'Facebook' %} fb {% else %} vk {% endif %}" href="{{ link }}">{{ name }}</a>
				{% endfor %}
			</div>
			<label for="userSigninLogin">Логин</label>
			<input type="text" id="userSigninLogin" name="login" placeholder="Введите свой e-mail">
			<label for="userSigninPassword">Пароль</label>
			<input type="password" name="password" id="userSigninPassword" placeholder="Введите свой пароль">
			<button type="submit" class="submit">Войти</button>
		</form>

		<a href="#" id="openRegisterModal">Зарегистрироваться</a>



	</div>
</div>

