[viewBag]

[chat]
==
<?php
function onStart()
{
    $user = Auth::getUser();
    
    $url = "/kursy";
    

    if ( $user ) {
        $group = \redcarlos\Courses\Models\Group::join('redcarlos_courses_groups_users', function ($join) use ($user) {
            $join->on('redcarlos_courses_groups.id', '=', 'redcarlos_courses_groups_users.group_id')
                 ->where('redcarlos_courses_groups_users.user_id', '=', $user->id );
        })->with('course')->first();
        
        if ( $group ) {
            $url = "/course/".$group->course->slug;
        }
    }
    
    $this['redirect_page'] = $url;
}
?>
==
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42082039 = new Ya.Metrika({
                    id:42082039,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/42082039" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<header class="login-area">
		<div class="header-inner">
			<a href="/" class="logo">Сайт Variform</a>
			{% if user %}
				<div class="profile-menu">

					<img src="{{ user.getAvatarThumb(40) }}" class="round profile-image" >
					{% if chat.newMessagesCount() > 0 %}
						<a href="{{'cabinet'|page}}#new-messages" id="new-messages"><span  class="show-msg new-messages">{{chat.newMessagesCount()}}</span></a>
					{% endif %}
					<ul>
						<li><p>Здравствуйте,</p> <span>{{ user.name }}</span></li>						
						<li><a class="cabinet show-msg" href="{{'cabinet'|page}}#new-messages">Мои сообщения</a></li>
						<li><a class="cabinet" href="{{'cabinet'|page}}">Личный кабинет</a></li>
						<li><a class="log_out" href="#" id="openModal" >Выйти</a></li>
					</ul>
				</div>
            {% else %}
			    <button id="openModal" type="button" class="sign-in">Войти</button>
            {% endif %}
            <button id="openMenu" type="button" class="open-menu"><img src="{{'assets/img/menu.png'|theme}}" alt=""></button>

            <nav>
                <button  type="button" class="close-menu">&times;</button>
                <a class="{% if this.page.id == 'home' %} current {% endif %}"  href="{{'home'| page}}">Главная</a>
				<a class="{% if this.page.id == 'courses' %}  current {%endif%}" href="{{redirect_page}}">Курсы</a>
				<a  class="{% if this.page.id == 'feed' or this.page.fileName == 'blog/page.htm' or this.page.id == 'blogmainpage' %} current {%endif%}"  href="{{'feed'|page}}">Блог</a>
				<a  class="{% if this.page.url == '/pro-shkolu' %}  current {%endif%}" href="{{'pro-shkolu'|staticPage}}">Про школу</a>

			</nav>

		</div>
	</header>