[viewBag]
==
<div id="loginModal" class="modal">
		<div class="modal-content">
			<span class="close">✖</span>
			<h2>Выход</h2>
			<form data-request="onLogout" data-request-data="redirect: '/'"  class="modal-form">
				<p>Вы действительно хотите покинуть личный кабинет?</p>
				<button type="submit" class="submit">Выйти</button>
			</form>
		</div>
	</div>