[viewBag]
==
<section class="promo-on-main">
		<div class="section-inner">
			<h1>Онлайн школа 3D графики</h1>
			<p>Нашей целью является создание высококачественных образовательных программ, чтобы дать художникам и дизайнерам инструменты, необходимые для достижения успеха в своей карьере. Мы сосредоточены на следующих технологиях производства, таких как 3D печать / прототипирования и 3D-моделирования. Области исследования являются дизайн игрушек, дизайн ювелирных изделий, изделий промышленного дизайна и прототипирования для индустрии развлечений.</p>
			<a id="openregmodal" href="/kursy">Записаться на обучение</a>
		</div>
	</section>