[viewBag]
[sociallogin]
==
<div id="registerModal" class="modal">
	<div class="modal-content">
		<span class="closereg close">✖</span>
		<h2>Регистрация</h2>
		<form data-request="onRegister" class="modal-form">
			<div class="social_login_btn">
				{% for name, link in social_login_links %}
				<a class="{% if name == 'Facebook' %} fb {% else %} vk {% endif %}" href="{{ link }}">{{ name }}</a>
				{% endfor %}
			</div>
			<label for="registerName">Имя</label>
			<input type="text" id="registerName" name="name" placeholder="Введите своё имя">
			<label for="registerEmail">e-mail</label>
			<input type="text" id="registerEmail" name="email" placeholder="Введите свой e-mail">
			<label for="registerPassword">Пароль</label>
			<input type="password" name="password" id="registerPassword" placeholder="Введите пароль">
			<button type="submit" class="submit">Зарегистрироватся</button>
		</form>
	</div>
</div>