[viewBag]
==
<script src="{{ 'assets/js/jquery.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.jscrollpane.min.js'|theme }}"></script>
<script src="{{ 'assets/js/jquery.mousewheel.js'|theme }}"></script>
<script src="{{ 'assets/js/main.js'|theme }}"></script>