[viewBag]
==
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8&appId=397107320680943";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- VK -->
<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
<!-- Twitter -->
<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>




    <div class='social-buttons'>
        <button class="open_subscribe">Подписаться</button>
        <a class="tw-share" href="https://twitter.com/intent/tweet?text={{page.title}}{{page.id|page}}" >
            <span class="twi-icon-bg"></span>
            <span class="twi-bg">Tweet</span>
        </a>
        <a class="fb-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{page.id|page}}">
            <span class="fb-icon-bg"></span>
            <span class="fb-bg">Поделиться</span>
        </a>
        <a class="vk-share" href="https://vk.com/share.php?url={{page.id|page}}" target="_blank">
            <span class="vk-icon-bg"></span>
            <span class="fb-bg">Поделиться</span>
        </a>
    </div>
    <div class="subscribe_block">
        <a class="twitter-follow-button"  href="https://twitter.com/TwitterDev"   data-size="large">Follow @TwitterDev</a>
        <iframe src="https://www.facebook.com/plugins/follow.php?href=https://www.facebook.com/UntitledOneAcademy/&width=120&height=65&layout=button&size=large&show_faces=false&appId=397107320680943" width="120" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <!-- VK Widget -->
        <div id="vk_subscribe"></div>
        <script type="text/javascript">
            VK.Widgets.Subscribe("vk_subscribe", {soft: 1}, -135219724);
        </script>
    </div>

</div>