[viewBag]
title = "Курсы"
url = "/kur"
layout = "guest-layout"
is_hidden = 0
navigation_hidden = 0
==
<div class="courses_block"><h2>Курсы</h2><div class="courses_item_wrap"><div class="courses_item"><img src="/themes/untitled/assets/img/courses-item2.jpg" alt="Анимация в Maya для начинающих"><a href="#">3д моделирование в Maya 2017</a><p>Нашей целью является создание высококачественных образовательных программ, чтобы дать художникам и дизайнерам инструменты, необходимые для достижения успеха в своей карьере.</p></div><div class="courses_item"><img src="/themes/untitled/assets/img/courses-item2.jpg" alt="" class="fr-dii fr-draggable" style=""><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, molestiae!</p></div><div class="courses_item"><img src="/themes/untitled/assets/img/courses-item2.jpg" alt="" class="fr-dii fr-draggable" style=""><a href="#">Lorem ipsum dolor sit amet.</a><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, molestiae!</p></div></div></div>