[viewBag]
title = "Про школу"
url = "/pro-shkolu"
layout = "guest-layout"
is_hidden = 0
navigation_hidden = 0
==
<p><br></p><p><span class="fr-video fr-dvi fr-draggable" contenteditable="false" style=""><iframe width="640" height="360" src="https://www.artstation.com/embed/665067" frameborder="0" allowfullscreen=""></iframe></span></p><p><br></p><hr><h1>About</h1><p>Untitled One Academy goal is to produce high quality educational programs to give artists and designers the tools they need to succeed in their careers. We focus on emerging technologies like 3D Printing/prototyping, VR/AR and 3D Modeling.&nbsp;</p><p>We also produce various sites that focus on creativity using digital tools and emerging tech. untitled-one.net is our media site that focuses on industry news, educational tutorials and showcasing inspiring artists.</p>